.fine-print {
    font-size: 10pt;
    margin-top: auto;
    flex-flow: column;
    font-family: sans-serif, 'Helvetica', 'Impact';
}

.fine-print-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.end::after, .intro::after {
    content: "Avishai Ish-Shalom (@nukemberg)";
    text-align: left;
    font-size: medium;
    position: absolute;
    bottom: 1rem;
    height: auto;
}